_dist/
*.tgz
*.bak

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfvars

# kubeconfigs and local credentials
.kube/
infra/gke/.kube/
infra/kind/.kube/
**/*kubeconfig
**/*.kubeconfig

# local
.ci-ping.mdinfra/gke/.kube/
infra/kind/.kube/
infra/flux-bootstrap/*.tfvars
.vscode/
*.code-workspace
